@model EventPlanner.Contracts.EvenementWithMessage

@{
    ViewBag.Title = "Evenement detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Evenement.Titel</h1>
<div class="well">
    <h2>Detail</h2>
    @using (Html.BeginForm("OmschrijvingAanpassen", "Reservatie", FormMethod.Post))
    {
        @Html.Hidden("Id", Model.Evenement.Id)
        <div class="form-group">
            <label>Eigenaar: </label>
            @Model.Evenement.Eigenaar
        </div>
        <div class="form-group">
            <label>Omschrijving:</label>
            @Html.TextArea("Omschrijving", Model.Evenement.Omschrijving, new Dictionary<string, object> { { "class", "form-control" }, { "rows", "10" } })
        </div>

        <div class="form-group">
            @Html.CheckBox("Muziek", Model.Evenement.MuziekVergunning.GetValueOrDefault())
            <span>Muziek?</span>
        </div>
        <button type="submit" class="btn btn-success">Omschrijving opslaan</button>            
    }
</div>

<div class="well">
    <h2>Dagen</h2>
    <ul>
        @foreach (var reservatiedatum in Model.ReservatieData)
        {
            <li>@reservatiedatum.ToShortDateString()</li>
        }
    </ul>
</div>

<div class="well">
    @*TODO: eerst overlap ophalen voordat een periode opgeslagen wordt*@

    @using (Html.BeginForm("PeriodeToevoegen", "Reservatie", FormMethod.Post)) 
    {
        @Html.Hidden("Id", Model.Evenement.Id)
        <div class="form-group">
            <label>Van:</label>
            @Html.TextBox("BeginDatumPeriode","", new Dictionary<string, object> { { "class", "form-control" }})
        </div>
        <div class="form-group">
            <label>Tot:</label>
            @Html.TextBox("EindDatumPeriode","", new Dictionary<string, object> { { "class", "form-control" } })
        </div>
        <button type="submit" class="btn btn-success">Periode toevoegen</button>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        var message = "@Model.Message";
        if (message != "")
            toastr["success"]("@Model.Message", "");
    </script>
}
